/*FONTS*/
@font-face {
    font-family: 'Oxygen', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Oxygen');
    font-weight: normal;
}


/*ACTUAL STUFF*/


body{
    background-color: #333333;
}

.centrehor {
width:90%;
margin: auto;
}

.centrehor {
bottom: 0;
    padding-bottom: 15%;
left: 5%;
margin: 1px;
position: absolute;
}





.header-name {

	font-family: "Oxygen";
	font-size: 3em;
    text-align: left;
    color: #eeeeee;
    line-height: 0.25em;

}

.desc-wip {
    font-family: "Oxygen";
	font-size: 1em;
    text-align: left;
    color: #eeeeee;
    line-height: 1.5em;
}



.wip-wrap{
    
    width:90%;
left: 5%;
bottom: 0;
    padding-bottom: 5%;
position: absolute;

}

.wip-nav {
    font-family: "Oxygen";
	font-size: 1em;
    color: #eeeeee;
    position: relative;
}




.left{
float:left;
text-align: left;
width:33%;
}

.centre{
text-align:center;
float:left;
width:33%;

    
}
.right{
text-align:right;
float:left;
width:33%;
}



a:link {
    color: #eeeeee;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #eeeeee;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #9a9a9a;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #9a9a9a;
    background-color: transparent;
    text-decoration: underline;
}






@media (max-width: 320px) {
.header-name {

	font-family: "Oxygen";
	font-size: 3em;
    text-align: left;
    color: #eeeeee;
    line-height: 1em;

}

}

@media (max-height: 320px) {
    body{
        height: 320px; 
overflow-y: scroll;
height: 100%
    position:absolute;
top:0px;
    }

    
    .centrehor {
width:90%;
margin: auto;
}

.centrehor {
top: 0;
left: 5%;
margin: 1px;
position: relative;
}
    
.wip-wrap{
    top: 0;
    margin: 1px;
padding-top: 0px;
    position: relative;}


}
