/*FONTS*/
@font-face {
    font-family: 'Oxygen', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Oxygen:400+300');
    font-weight: normal;
}



/*ACTUAL STUFF*/


body{
    background-color: #333333;
}

.centrehor {
width:90%;
top: 8vh;
}

.centrehor {
left: 5%;
margin: 1px;
position: absolute;
}

.centrehorabt {
width:90%;
top: 8vh;
}

.centrehorabt {
left: 5%;
margin: 1px;
position: absolute;
}


.centrehorarc {
width:90%;
top: 8vh;
}

.centrehorarc {
left: 5%;
margin: 1px;
position: absolute;
}

.centrehorhome {
width:90%;
}

.centrehorhome {
left: 5%;
margin: 1px;
position: absolute;
}

img.rightimg {
border-radius: 50%;
width: 20vh;
min-width: 7em;
max-width: 25vw;
}

img.rightimgarchi {
min-width: 7em;
max-width: 85vw;
}

img.rightimgabt {
border-radius: 50%;
width: 20vh;
min-width: 7em;
max-width: 25vw;
}

.desc1{
position:inline;
padding-right: 35vw;
max-width: 65vw;
}



.wip-wrap{
    
width:90%;
left: 5%;
top: 0;
padding-top:5vh;
position: absolute;

}

.wip-nav {
    font-family: "Oxygen";
	font-size: 1.9vh;
    color: #eeeeee;
    position: relative;
}




.left{
float:left;
text-align: left;
width:33%;
}

.centre{
text-align:center;
float:left;
width:33%;

    
}
.right{
text-align:right;
float:left;
width:33%;
}

.rightimg{
    position: absolute;
    right: 0;
    height: centre;
    
}



a:link {
    color: #eeeeee;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #eeeeee;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #9a9a9a;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #9a9a9a;
    background-color: transparent;
    text-decoration: underline;
}


@media (orientation:landscape){
    
    .centrehor {
width:90%;
top: 45vh;
}
    
        .centrehorabt {
width:90%;
top: 45vh;
}
    
    
            .centrehorarc {
width:90%;
top: 7vh;
}
    
        .centrehorhome {
width:90%;
top: 45vh;
}
    
    .rightimg{
    position: absolute;
    right: 0;
    height: centre;
    
}
    
    
.desc2{
position:inline;
padding-right: 35vw;
max-width: 65vw;
}
    
    .desc3{
position:inline;
}
    
    .rightimgabt{
    position: absolute;
    right: 0;
    height: centre;
    
}

 .header-name {

	font-family: "Oxygen";
	font-size: 8.5vh;
    text-align: left;
    color: #eeeeee;
    line-height: 0;
}

.desc-wip {
    font-family: "Oxygen";
	font-size: 2vh;
    text-align: left;
    color: #eeeeee;
    line-height: 2.2vh;
    font-weight:300;
}

.desc-abt {
    font-family: "Oxygen";
	font-size: 1.8vh;
    text-align: left;
    color: #eeeeee;
    line-height: 2vh;
    font-weight:300;
}   
    
    
    
    
    
    
}
    

@media (orientation:portrait){
    
    .centrehor {
width:90%;
top: 8vh;
}
    
    .centrehorabt {
width:90%;
top: 18vh;
}
    
        .centrehorarc {
width:90%;
top: 7vh;
}

    .centrehorhome {
width:90%;
top: 30vh;
}
    
    
.rightimgabt{
   visibility:hidden;
position:absolute;
}

    .desc2{
position:inline;
padding-right: 0;
max-width: 90vw;
}
    
        .desc3{
position:inline;
padding-right: 0;
max-width: 90vw;
}
    
    
     .header-name {

	font-family: "Oxygen";
	font-size: 9vh;
    text-align: left;
    color: #eeeeee;
    line-height: 0;
}

.desc-wip {
    font-family: "Oxygen";
	font-size: 2.2vh;
    text-align: left;
    color: #eeeeee;
    line-height: 2.4vh;
    font-weight:300;
}

.desc-abt {
    font-family: "Oxygen";
	font-size: 2vh;
    text-align: left;
    color: #eeeeee;
    line-height: 2vh;
    font-weight:300;
}   
    
    
    
    
    
}





@media (max-width: 320px) {
.header-name {

	font-family: "Oxygen";
	font-size: 3em;
    text-align: left;
    color: #eeeeee;
    line-height: 1em;

}


}

@media (max-height: 320px) {
    body{
        height: 320px; 
overflow-y: scroll;
height: 100%
    position:absolute;
top:0px;
    }

    
    .centrehor {
width:90%;
margin: auto;
}

 


}
